datasets/caract_dieta.*
datasets/consumo.*
datasets/domicilio.*
datasets/morador.*
datasets/datasets.zip
datasets/pickle/*
datasets/datasets.zip
datasets/despesa_individual.*
datasets/despesa_individual.*
datasets/despesa*
datasets/dfDespesaColetiva.csv
datasets/CONSUMO_ALIMENTAR.txt
datasets/grupos.xlsx

documents/*
*.pyc
.env
app/components/extract_data/__pycache__/extract_data.cpython-39.pyc
app/components/simple_types/__pycache__/nutrition.cpython-39.pyc
app/components/simple_types/__pycache__/state.cpython-39.pyc
app/components/search/__pycache__/papa_search.cpython-39.pyc
